.star{
    width: 15px;
    height: 15px;
    unicode-bidi: bidi-override;
    direction: ltr;
    display: inline-block;
}

path{
    stroke: #adb5bd;
}
line{
    stroke: #adb5bd;
}
text{
    fill: #adb5bd;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
}